<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}
  <title>{{ page_title }}</title>
  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'theme.min.css?c=1620879167090' | asset_url | stylesheet_tag }}
  {{ 'theme.min.js?c=1620879167090' | asset_url | script_tag }}

  <!-- Put any inline scripts here if possible -->
  <script>
      const theme = {
          strings: {}
      };
  </script>
  {% style %}
    :root {
    --primary-color: 236, 175, 6;
    }
  {% endstyle %}
</head>
<body>
<a class="visually-hidden-focusable btn btn-light position-absolute top-0 start-0 m-2" href="#content">Skip to main
  content</a>
{% section 'header' %}
{% comment %}{% section 'announcement-blocks' %}{% endcomment %}

<main role="main" id="content">
  <h1 data-cy="site-header">My Shopify Website Header</h1>
  {{ content_for_layout }}
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-
ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
